* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1rem;
}

.mobile-version {
    display: flex;
    align-items: center;
}

.navegation {
    display: none;
}

.mobile-menu-btn {
    height: 3px;
    width: 1.4rem;
    background: hsl(220, 14%, 75%);
    position: relative;
    margin-right: 1rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.mobile-menu-btn::after {
    content: "";
    height: 3px;
    width: 1.4rem;
    background: hsl(220, 14%, 75%);
    position: absolute;
    bottom: .5rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.mobile-menu-btn::before {
    content: "";
    height: 3px;
    width: 1.4rem;
    background: hsl(220, 14%, 75%);
    position: absolute;
    top: .5rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
 
.profile-icon {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 2px solid transparent;
}

.close-menu {
    height: 3px;
    width: 1.4rem;
    background: transparent;
    position: fixed;
    margin-right: 1rem;
    transition: all .4s ease-in-out;
}

.close-menu::after {
    content: "";
    height: 3px;
    width: 1.4rem;
    background: hsl(220, 14%, 75%);
    position: absolute;
    bottom: 0rem;
    transform: rotate(45deg);
    transition: all .5s ease-in-out;
}

.close-menu::before {
    content: "";
    height: 3px;
    width: 1.4rem;
    background: hsl(220, 14%, 75%);
    position: absolute;
    top: 0rem;
    transform: rotate(-45deg);
    transition: all .5s ease-in-out;
}

.aside-menu-mobile {
    position: fixed;
    height: 100vh;
    width: 70%;
    top: 0;
    left: 0;
    background: white;
    z-index: 9;
    visibility: hidden;
    
}

.aside-navegation {
    list-style: none;
    position: absolute; 
    top: 14px;
    margin: 1.4rem 1rem;
}

.aside-menu {
    list-style: none;
    position: relative;
    top: 5rem;
    font-weight: 600;
}

.aside-item {
    margin-bottom: 1.2rem;
}

.aside-item a {
    color: black;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: hsl(0, 0%, 0%);
    opacity: 75%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.icons {
    display: flex;
    align-items: center;
    
}


main {
    padding-bottom: 8rem;
}

.product > img {
    max-width: 100%;
}

.product {
    position: relative;
}

.arrows {
   width: 100%;
   position: absolute;
   top: 50%;
   display: flex;
   justify-content: space-between;
   padding: 0 1.3rem;
}

.next, .prev {
    background: white; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;   
}

.next {
    background: url("/images/icon-next.svg") white no-repeat center;
}

.prev {
    background: url("/images/icon-previous.svg") white no-repeat center center ;
}

.thumbs {
    display: none;
}

.company {
    color:  hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: .75rem;
    margin-bottom: 1rem;
}

.description {
    padding: 1.5rem;
}

.description > div > h1 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.text {
    color: hsl(219, 9%, 45%);
    line-height: 1.6rem;
    margin-bottom: 1.75rem;
}

.prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;

}

.pseudo-div {
    display: flex;
    align-items: center;
}

.promotion {
    font-weight: 700;
    font-size: 1.875rem;
    margin-right: 1rem;
}

.percentage {
    color: hsl(26, 100%, 55%);
    background: hsl(25, 100%, 94%);
    font-weight: 700;
    padding:.2rem .5rem;
    border-radius: 5px;
}

.value-m {
    color: rgba(209,213,219);
    font-weight: 700;
    text-decoration: line-through;
}

.value-d {
    display: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 3.2rem;
}

.input-container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   background: hsl(220, 14%, 96%);
   padding: 1rem;
   border-radius: 10px;
}

.input-container > span {
   text-align: center;
   background: none;
   border: none;
   font-weight: 800;
   width: 100%;
   font-size: 1rem;
   outline: none;
   padding: 0 1.2rem;
}

.input-container > label {
    position: absolute;
    display: none;
}

.minus, .plus {
   position: absolute;
   padding: 1rem;
   cursor: pointer;
   transition: .4s;
}

.plus {
   right: 0;
}

.plus:hover {
    opacity: .8;
}

.minus {
    left: 0;
}

.minus:hover {
    opacity: .8;
}

.add-button {
   background: hsl(26, 100%, 55%);
   padding: 1.2rem;
   width: 100%;
   border: none;
   color: white;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   margin: 1.2rem 0;
   box-shadow: 0 20px 60px -15px #ff7d19;
   opacity: 1;
   transition: opacity .3s;


}


.add-button:hover {
    opacity: .8;
}

.add-button > svg {
   margin-right: 1rem;
}

svg > path {
   fill: white;
}

.active {
    visibility: visible;
    transition: .4s;
    animation: open .4s;
}

.none {
    visibility: hidden;
    transition: .4s;
    animation: close .4s;
}

.closeOverlay {
    visibility: hidden;
}

.openOverlay {
    visibility:  visible;
}

.product-img {
    display: none;
}

.current-image {
    display: block;
    animation: carousel .2s linear;
}

.cart {
    width: 95%;
    background: #ffffff;
    margin:.6rem .5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    display: none;
    transition: .3s;/*essa transicao faz com ao ir para a versao mobile ocorra um bug no layout colocar no git pages e ver funcionando nos dispositivos reais*/
}

.cart-button {
    display: flex;
    position: relative;
}

.items-quantity {
    height: 0.75rem;
    width: 0.75rem;
    background-color: #ff7d1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
    font-weight: 800;
    color: #ffffff;
    border-radius: 20px;
    padding:.3rem .6rem;
    position: absolute;
    top: -6px;
    left: 12px;
    visibility: hidden;
}

.cartDiv1 {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(229,231,235,1); 
}

.cartDiv1 > span{
    font-weight: 900;
   
}

.cartDiv2 {
    padding: 1.5rem;
}

.empty-cart {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.empty-cart > p {
    font-weight: 600;
    font-size: .875rem;
    color: #6b7280;
}


.main-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.main-box > div {
    display: flex;
}

.cart-product {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.625rem;
}

.legend {
    color: #6b7280;
    line-height: 1.5;
    margin-left: 1rem;
}

.price-variable {
    font-weight: 800;
    color: black;
}

.main-box > img {
    cursor: pointer;
}



.checkout {
    width: 100%;
    color: #fff;
    background: hsl(26, 100%, 55%);
    font-weight: 700;
    border: none;
    outline: none;
    padding:1rem 3rem;
    border-radius: .625rem;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
    display: none;
}

.checkout:hover {
    opacity: .8;
}

.openCart {
    display: block;
    animation: cartOpen .3s linear;

}

.closeCart {
    visibility: hidden;
    animation: cartClose .3s linear;
}

.carousel-desktop {
    display: none;
}

.block {
    display: none;
}

.overlayBlock {
    display: block;
}

@keyframes carousel {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}


@keyframes open {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }


}

@keyframes close {
    from {
        width: 70%;
    }

    to {
        width: 0%;
    }
}

@keyframes cartOpen {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cartClose {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}


@media screen and (min-width: 992px) {
    body {
        overflow: visible;
    }

    header {
        margin: 0 auto;
        padding: 2rem 0;
        border-bottom: 1px solid #e5e7eb;
        max-width: 72rem;
    }

    .aside-menu-mobile {
        display: none;
    }

    .mobile-menu-btn {
        display: none;
    }

    .overlay {
        display: none;
    }

    .navegation {
        display: block;
        margin-left: 3rem;
    }

    .menu {
        list-style: none;
        display: flex;
        font-size: 1.2rem;
    }

    .menu .item {
        margin-right: 1.7rem;
    }

    .item a {
        color: #6b7280;
        position: relative;
    }

    .item a::after {
        content: "";
        width: 0;
        height: 5px;
        background: hsl(26, 100%, 55%);
        position: absolute;
        left: 0;
        bottom: 0;
        top: 4rem;
        transition: all .3s ease-in-out;
    }

    .item > a:hover::after {
        width: 100%;
        background: hsl(26, 100%, 55%);
        transition: all .3s ease-in-out;
    }

    .profile-icon {
        height: 48px;
        width: 48px;
        margin-left: 2rem;
        border: 2px solid transparent;
        transition: all .2s ease-in-out;
    }

    .profile-icon:hover {
        background: hsl(26, 100%, 55%);
    }

    main {
        padding: 0;
    }

    main > div{
        display: flex;
        justify-content: center;
        padding: 5rem 2.5rem 3rem 2.5rem;/*esse 3rem e temporario*/
        margin: 0 auto;
        max-width: 72rem;
    }

    .product {
        height: 100%;
        max-width: 100%;
        padding:0 4rem 0 0rem;

    }

    .product > img {
        height: 28rem;
        max-width: 28rem;
        border-radius: 1rem;
        cursor: pointer;
    }
    .arrows {
        display: none;
    }

    .thumbs {
        display: flex;
        justify-content: space-between;
    }

    .thumbs > img {
        height: 5.25rem;
        max-width: 5.25rem;
        margin:2rem 0 0 0;
        border-radius: 0.625rem;
        cursor: pointer;
        transition: .4s;
        border: 2px solid transparent;
        /*opacity: .5;adicionar a opacidade quando figura estiver selecionada; fazer isso usando javascript*/
    }

    .thumbs > img:hover {
        opacity: .5; 
    }

    .selected {
        background-color: hsl(26, 100%, 55%);
        opacity: .5; 
    }

    .description {
        padding:0 0rem 0 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description > div > h1 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    .prices {
        margin-bottom:.8rem;
        display: block;
    }

    .value-d {
        color: rgba(209,213,219);
        font-weight: 700;
        text-decoration: line-through;
        display: block;
        margin-bottom: 1.875rem;
    }

    .value-m {
        display: none;
    }

    .form-container { 
        display: flex;
        flex-direction: row;
    }

   .input-container {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
       background: hsl(220, 14%, 96%);
       padding: 1rem;
       border-radius: 10px;
       width: 40%;
       margin-right: 1.2rem;
   }

    .input-container > label {
        position: absolute;
        display: none;
    }

   .add-button {
       padding: 1.2rem;
       width: 50%;
       margin: 0;
        cursor: pointer;       
   }

   .add-button > img {
       margin-right: 1rem;
   }

   .carousel-desktop {
       position: absolute;
       z-index: 1;
       top: 50%;
   }

   .box {
       height: 100vh;
       width: 100%;
       position: fixed;
       top: 0;
       z-index: 1;
   }

   .box > img {
       height: 30rem;
       width: 30rem;
       border-radius: 1.2rem;
       margin: 0 auto;
   }

   .cart {
    width: 60%;
    top: -7rem;
    left: 45rem;
    
    }

    .carousel-desktop {
        display: none;
        flex-direction: column;
        position: fixed;
        max-width: 100%;
        z-index:3;
        top: 5%;

    }
 
    .carousel-desktop > div {
        margin: 0 auto;
    } 

    .main-imgs {
        position: relative;
    }

    .main-imgs > img{
        height: 28rem;
        width: 30rem;
        border-radius: 10px;
    }

    .carousel-arrows {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
    
    .left, .right {
        background: #fff ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        position: absolute;
        border-radius: 50%;
        cursor: pointer;
    }

     .left {
        left: -1.5rem;
        background: url("/images/icon-previous.svg") #fff no-repeat center;
        
    }  
    
    .right {
        right: -1.5rem;
        background: url("/images/icon-next.svg") #fff no-repeat center;
    }
        
    .block {
        display: block;
    }
    
    .none {
        display: none;
    }
}

/* pesquisar o que sao blunders css */
/* estudar sobre animations no css */
/*minificar css por questoes de performance*/